# Bucles

In [2]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [5]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

### 1.Repetir mensaje

In [10]:
msj = input("Ingrese un mensaje: ")
n = int(input("Ingrese un numero")) 
for i in range(n):
    print(msj)

Ingrese un mensaje:  asd
Ingrese un numero 3

asd
asd
asd

### 2.Contar del 1 al 10

In [11]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### 3.Contar hacia atras

In [15]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

### 4. Suma de los primeros n numeros

In [38]:
suma =0
n = int(input("Ingrese un numero: "))
for i in range(n+1):
    suma+=i
print(suma)

#gaus

cal = n*(n+1)/2
print(cal)

Ingrese un numero:  1000

500500
500500.0

### 5. Tabla de multiplicar

In [40]:
n = int(input("Ingrese un numero: "))

for i in range(1,11):
    print(n*i)

Ingrese un numero:  7

7
14
21
28
35
42
49
56
63
70

### 6.Numeros pares entre 1 y 100

In [44]:
for i in range(2, 101,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

### 7.Lista de nombres

In [48]:
n = int(input("Ingrese un numero: "))
for i in range(n):
    nombre = input("Ingrese el nombre: ")
    print(i+1,".", nombre)

Ingrese un numero:  3
Ingrese el nombre:  Juan

1 . Juan

Ingrese el nombre:  Pedro

2 . Pedro

Ingrese el nombre:  Jose

3 . Jose

### 8.Sumar solo multiplos de 3

In [53]:
n = int(input("Ingrese un numero: "))
for i in range(3, n+1,3):
    print(i)

Ingrese un numero:  12

3
6
9
12

### 9.Contador de vocales

In [55]:
palabra = input("Ingrese la palabra")
vocales = "aeiou"
contador = 0

for caracter in palabra:
    if caracter in vocales:
        contador += 1

print("Total de vocales:", contador)

Ingrese la palabra sadot

Total de vocales: 2

### 10.Serie factorial

In [88]:
n = int(input("Ingrese un numero: "))
factorial = 1
cadena =""
for i in range (n,0,-1):
    factorial*=i
    cadena +=str(i) + "x"

cadena = cadena[:-1]
print(n,"!",cadena,"=", factorial)

Ingrese un numero:  5

5 ! 5x4x3x2x1 = 120

#####